---
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";

const response = await fetch("http://localhost:8080/graphql", {
	method: "POST",
	headers: { "Content-type": "application/json" },
	body: JSON.stringify({
		query: `
			query GetPosts {
  			posts {
    			nodes {
      			content
      			title
    			}
  			}
			}`,
	}),
});
const json = await response.json();
const { data } = json;
const { posts } = data;
const { nodes } = posts;
---

<Layout>
	{
		nodes.map((post) => (
			<li>
				<Post title={post.title} content={post.content} />
			</li>
		))
	}
</Layout>
